/* Estilos generales */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(to right, #df331f, #92a4ec);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #ccc;
}

main {
    flex: 1; /* Ocupa el espacio restante */
    padding: 20px;
}

.contact-info {
    background-color: #fff;
    padding: 40px 0;
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-item {
    text-align: center;
    margin-bottom: 20px;
}

.contact-item i {
    font-size: 2em;
    color: #4e54c8; /* Morado */
    margin-bottom: 10px;
}

.contact-item p {
    margin: 0;
}

.contact-item a {
    color: #4e54c8; /* Morado */
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #8461a4; /* Morado más claro */
}
.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form .container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
    min-height: 150px;
}

.contact-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .contact-form .container {
        padding: 0 10px;
    }
}


.map-section {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Estilos del footer */
footer {
    background: linear-gradient(to right, #df331f, #92a4ec); 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    color: #fff;
    font-size: 1.5em;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #6700b5f5; /* Color del ícono al pasar el mouse */
}

.footer-text {
    text-align: center;
}

.footer-text p {
    margin: 5px 0;
}
